<section class="section-padding">
    <div class="gr-dash-item">
        <img alt="dashboard image" src="images/gr-mac.png" />
    </div>
    <h2>GreenRope</h2>
    <h3>Product Designer at a CRM company focusing on small to midsizes businesses</h3>
    <a href="/greenrope.html"<%= partial 'partials/button' %></a>
</section>
