<section class="section-padding">
    <div class="dash-item">
        <a href="/greenrope">
            <img alt="Ziprent Graphic" src="/images/greenrope/gr-main-4.png">
        </a>
    </div>
</section>
