<section class="section-padding">
    <div class="dash-item">
        <a href="/greenrope">
            <img alt="Ziprent Graphic" src="/images/greenrope/greenrope-main.png">
        </a>
    </div>
</section>
