<section class="section-padding">
    <div class="sgtg-dash-item">
        <img alt="Gr Dashboard" src="/images/gr-mac.png"/>
    </div>
    <h2>Sailors Grave Tattoo Gallery</h2>
    <h3>Product Designer for a tattoo shop located in San Diego</h3>
    <a href="/sailorsgrave.html"><%= partial 'partials/button' %></a>
</section>