<section class="section-padding">
    <div class="dash-item">
        <a href="/sailorsgrave">
            <img alt="SGTG Graphic" src="/images/sgtg/sgtg-main-3.png">
        </a>
    </div>
</section>