<section class="section-padding">
    <div class="dash-item">
        <a href="/sailorsgrave.html">
            <img alt="SGTG Graphic" src="/images/sgtg/sgtg-main.png">
        </a>
    </div>
</section>