<div class="work img-reveal">
    <img src="<%= img %>">
    <h1><%= title %></h1>
    <p><%= description %></p>
    <a href="<%= url %>"><button class="btn-small btn-primary">See More</button></a>
</div>