<section class="section-padding">
    <div class="ziprent-dash-item">
        <img alt="Gr Dashboard" src="/images/gr-mac.png"/>
    </div>
    <h2>Ziprent</h2>
    <p>Product Designer at a CRM company focusing on small to midsizes businesses</p>
    <a href="/ziprent.html"<%= partial 'partials/button' %></a>
</section>


