<div class="main-home">
    <div class="lg-col">
        <a href="/greenrope">
            <img alt="Greenrope Graphic" src="/images/greenrope/gr-main-4.png">
        </a>
    </div>
    <div class="two-col-container">
        <div class="col-1">
            <a href="/ziprent">
                <img alt="Ziprent Graphic" src="/images/ziprent/ziprent-main-3.png">
            </a>
        </div>
        <div class="col-2">
            <a href="/sailorsgrave">
                <img alt="SGTG Graphic" src="/images/sgtg/sgtg-main-3.png">
            </a>
        </div>
    </div>
</div>