---
Title: Customer IO Cover Letter
---
<div class="img-container customerio-content-img">
    <div>
        <h1>Hey There!</h1>
    </div>
</div>

<div class="project-content">
    <div class="text-block">
        <h2>Welcome to my portfolio!</h2>

        <p>After reading through the Product Designer role, I was inspired to approach this application from a different angle. Instead of submitting my usual cover letter, I figured it would be more unique to add a page to my portfolio, allowing you to see some examples of projects I have work on.</p>

        <p>Previously, I have worked (remotely) as a Product Designer for a CRM and Marketing Automation company (GreenRope). It provided me with a solid design foundation to grow from. During my time there, I was the creative lead for the development of the company’s web and mobile UI. This provided me with an opportunity to experience the design and development cycle from start to finish. Being the sole designer gave me insight into the vast amount of work it takes to thoroughly execute a successful design refresh. Auditing existing features, creating user personas, establishing a component library, and managing development resources were all elements I incorporated into the design flow.</p>

        <p>Due to the constraints of working with a small team, I took on more development responsibilities in addition to my design workload to help streamline the development process. At times, I felt out of my comfort zone, but the additional exposure to the development process shaped my perspective and empowered me to design and create a more modern and cohesive UI.</p>

        <p>From there I went on freelance, contracting for companies such as Ziprent and DesignMap. At Ziprent I worked with the founder to develop a tenant placement product for landlords. I was not only responsible for designing their web application, but establishing the brand / product identity as well. At DesignMap, a UX Design Agency specializing in enterprise level software, I was responsible for designing a distributed marketing platform for a client in the automotive marketing space.</p>

        <p>Given my past experience with both design and development, I believe I would be a valuable candidate to contribute to the Customer.io platform. I am extremely comfortable working in a remote position and love working with people who are passionate and enthusiastic about what they do.</p>

        <p>Thank you for your considersation!</p>
        <div style="width:100%;height:0;padding-bottom:67%;position:relative;"><iframe src="https://giphy.com/embed/ui1hpJSyBDWlG" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
</div>
