---
Title: DesignMap
---
<div class="img-container gr-content-img">
    <div>
        <h1>DesignMap</h1>
    </div>
</div>

<!-- Start Content -->
<div class="project-content">
    <div class="text-block">
        <p><span style="font-weight: 700;">Position:</span> UX Designer | <span style="font-weight: 700;">Team:</span> Project Manager, Senior UX Designer, UX Designer</p>
        <h2>Project Overview</h2>
        <p>During my time at GreenRope, my primary focus was addressing design consistency throughout the platform. When moving through the platform, there was a disconnect between feature areas which would lead to user frustrations. The main objective was to identify the various differences from feature to feature and implement a new design to eliminate any disjunction.</p>
    </div>
</div>