---
title: Nicholas Bokaie's Portfolio
---
<div class="hero">
  <h1>Product Designer | Bay Area</h1>
</div>

<%= partial 'partials/gr-item' %>

<%= partial 'partials/ziprent-item' %>

<%= partial 'partials/sgtg-item' %>
