---
title: Sailors Grave Project
---
<div class="img-container sgtg-content-img">
    <div>
        <h1>Sailors Grave Tattoo Gallery</h1>
    </div>
</div>
<div class="project-content">
    <!-- Text Block -->
    <div class="text-content">
        <p><span style="font-weight: 700;">Position:</span> Product Designer | <span style="font-weight: 700;">Team:</span> Shop Owner, Product Designer</p>
        <h3>Project Overview</h3>
        <p><%= lorem.sentences 5 %></p>
        <h3>UX Process</h3>
        <p>Before beginning our design we wanted to first interview the shop owner to set a foundation for his expectation of the site redesign. We categorized the survey into several sections:
            <ul>
                <li>Analysis of current site</li>
                <li>Desires for future site</li>
                <li>Brand | Audience | Image</li>
            </ul>
        </p>
        
        <blockquote>
            "The target audience I am trying to reach out too is people without tattoos. When I see two people, one with a sleeve of tattoos and one without, I will always go talk to the without."
        </blockquote>
        
        <p>Having established the  expectations of the shop owner,  we then set out to understand the various types of customers. We conducted surveys at the tattoo shop over the course of several weekends and were able to categorize three types of user personas:</p>
    </div>
    <!-- Image Block -->
    <div>
        <img alt="User Persona Overview" src="/images/sgtg/complete-persona.png">
    </div>

    <!-- Text Block -->
    <div class="text-content">
        <h3>Prioritization</h3>
        <p><%= lorem.sentences 5 %></p>
    </div>

</div>
