---
title: Ziprent
---
<div class="img-container ziprent-content-img">
    <div>
        <h1>Ziprent</h1>
    </div>
</div>
<div class="project-content">
    <div class="text-block">
        <p><span style="font-weight: 700;">Position:</span> Product Designer | <span style="font-weight: 700;">Team:</span> Founder, Product Designer</p>
        <h2>Project Overview</h2>
        <p>The goal of this project was to develop a website for a tenant placement service. A backend infrastructure had already been created before I began my involvement, providing a foundation to design a site to market the product. The MVP was to be a fairly small site focusing on highlighting the benefits of said product.</p>
        <p>I first began by setting out to create a definitive style guide. I was able to reference the backend application to create consistency with color choices and typography.</p>
    </div>
    <!-- Image Block -->
    <div>
        <img alt="Style Guide" src="/images/ziprent/style-guide.png">
    </div>
    <!-- Text Block -->
    <div class="text-block">
        <h3>Design</h3>
        <p>As I was going to be developing the site in addition to designing it, I decided to skip creating some low fidelity wireframes and immediately move to creating some high fidelity wireframes on Sketch. Seeing as the site was going to be no more than 3-4 pages, I had a good idea of how the layout of site should be based off of the requirements set by the founder:
            <ul>
                <li>Clear and concise call to action</li>
                <li>Highlight benefits of platform</li>
                <li>Contact/Pricing form for potential customers</li>
            </ul>
        </p>
        <p>I first began mocking up a couple examples of how the homepage and feature section should be laid out. I want to make sure I created responsive and reusable design elements/characteristics allowing me to writing resusable HTML and CSS elsewhere on the site. </p>
    </div>
    <!-- Image Block-->
    <div>
        <img alt="First set of wireframes" src="/images/ziprent/wireframes-1.png">
    </div>
    <!-- Text Block -->
    <div class="text-block">
        <p>Moving onto the other potential pages, I was able to carry those design elements I had established on the home and feature into the layout of these subsequent pages. I wasn't too concerned about having the exact layout finalized and pixel perfect. I wanted to give my flexibility should the founder want to add or remove different sections.</p>
    </div>
     <!-- Image Block-->
     <div>
        <img alt="Second set of wireframes" src="/images/ziprent/wireframes-2.png">
    </div>
    
    <!-- Text Block -->
    <div class="text-block">
        <p>In order to display an example of the backend UI a potential customer may see, I needed to recreate that enviornment within Sketch inorder to give a high resolution depiction.</p>
    </div>

     <!-- Image Block-->
     <div>
        <img alt="Example of backend UI" src="/images/ziprent/backend.png">
    </div>

    <div class="text-block">
        <h3>Development</h3>
        <p>With the design set, I then began to develop the site using <a href="https://middlemanapp.com">Middleman</a>, a static site generator. Seeing as it site was not going to have any dynamic data requiring the use of a CMS, I felt a static site would be much more efficient to develop and deploy, while also providing quick load times.</p>
        <p>The project is currently in its final stages of development and will be deployed shortly! However, you can view a demo version of the site here:
        <button class="primary-btn" style="margin-top: 10px;">    
            <a href="https://future-payment.surge.sh/" target="_blank">Ziprent (Demo)</a>
        </button>
        </p>
        <h3>Concluding Thoughts</h3>
        <p>Working directly with the founder on this project made the experience extremely enjoyable. I was able to establish a creative dynamic leading to a collaborative design experience. Because I decided to develop the site myself, it forced me to approach my designs from a different lens than what I was used to. I not only had to come with an appropriate design but be conscious on how to develop those elements. It gave me a newfound appreciation for the development cycle and helped improve my development chops.</p>
    </div>
</div>