---
title: Ziprent
---
<div class="img-container ziprent-content-img">
    <div>
        <h1>Ziprent</h1>
    </div>
</div>
<div class="project-content">
    <div class="text-content">
        <p><span style="font-weight: 700;">Position:</span> Product Designer | <span style="font-weight: 700;">Team:</span> Founder, Product Designer</p>
        <h3>Project Overview</h3>
        <p><%= lorem.sentences 5 %></p>
        <p><%= lorem.sentences 5 %></p>
        <p><%= lorem.sentences 5 %></p>
        <p><%= lorem.sentences 5 %></p>
    </div>
</div>